body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-image: url(https://img.freepik.com/premium-photo/black-luxury-fabric-background-with-copy-space_266768-3040.jpg);
    color: white;
    padding: 50px 20px;
    background-position: center ;
    background-size: cover;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
header p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.action{
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: white 0.3s ease;
    box-shadow: 2px 2px gray;
    font-weight: bold;
    border-color: black;
}
.action:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.features{
    justify-content: center;
    padding: 20px;
    display: flex;
}
.feature{
    margin: 10px;
    margin-top: 80px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    background-color: black;
    box-shadow: 0 2px 6px grey;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 2px grey;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 5px;
    margin-top: 60px;
}
